# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @wsdjeg will be requested for review when someone opens a
# pull request.
*       @wsdjeg

# 中文文件
# 中文模块翻译
docs/layers/*    @SLZhang-CUG

# lang#javascript layer
autoload/SpaceVim/layers/lang/javascript.vim @zhujinxuan @S1ngS1ng @chemzqm
docs/layers/lang/javascript.md               @zhujinxuan @S1ngS1ng @chemzqm
docs/cn/layers/lang/javascript.md            @zhujinxuan @S1ngS1ng @chemzqm
# layer plugins conf:

