autoload/SpaceVim/api/iconv/**  linguist-vendored
lua/spacevim/api/iconv/**  linguist-vendored
bundle/** linguist-vendored
bundle/bookmarks.vim/** linguist-vendored=false
bundle/git.vim/** linguist-vendored=false
bundle/flygrep.nvim/** linguist-vendored=false
bundle/nvim-plug/** linguist-vendored=false
bundle/FlyGrep/** linguist-vendored=false
bundle/Chatting-server/** linguist-vendored=false
bundle/ChineseLinter.vim/** linguist-vendored=false
bundle/cpicker.nvim/** linguist-vendored=false
bundle/format.nvim/** linguist-vendored=false
bundle/github.vim/** linguist-vendored=false
bundle/gtags.vim/** linguist-vendored=false
bundle/record-key.nvim/** linguist-vendored=false
bundle/vim-zettelkasten/** linguist-vendored=false

# Bundle changed plugins:
bundle/vim-startify/** linguist-vendored=false
.ci/** linguist-vendored
docker/** linguist-vendored
docs/** linguist-documentation
Makefile linguist-vendored
