dist: trusty
sudo: false
language: generic

git:
  depth: 3

notifications:
  slack:
    on_success: never
    on_failure: never
  email:
    on_success: never # default: change
    on_failure: never # default: always
cache:
  - directories:
    - $HOME/deps
    - $HOME/.cache/pip

env:
  global:
    - DEPS=$HOME/deps
    - PATH=$DEPS/bin:$PATH
  matrix:
    - LINT=vimlint-errors       VIM=nvim   VIM_VERSION=v0.2.0
    - LINT=vimlint              VIM=nvim   VIM_VERSION=v0.2.0
    - LINT=vint-errors          VIM=nvim   VIM_VERSION=v0.2.0
    - LINT=vint                 VIM=nvim   VIM_VERSION=v0.2.0
    - LINT=vader                VIM=vim    VIM_VERSION=v0.2.0
    - LINT=vader                VIM=vim    VIM_VERSION=v8.0.0027
    - LINT=vader                VIM=nvim   VIM_VERSION=HEAD
    - LINT=vader                VIM=nvim   VIM_VERSION=v0.2.0

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-4.0
    packages:
      - autoconf
      - automake
      - apport
      - build-essential
      - clang-4.0
      - cmake
      - cscope
      - g++-5-multilib
      - g++-multilib
      - gcc-5-multilib
      - gcc-multilib
      - gdb
      - language-pack-tr
      - libc6-dev-i386
      - libtool
      - llvm-4.0-dev
      - locales
      - pkg-config
      - unzip
      - valgrind
      - xclip
      - gettext
      - libncurses5-dev
      - libacl1-dev
      - libgpm-dev
      - python-dev
      - python3-dev
      - python3-setuptools
      - pkg-config
      - lua5.2
      - liblua5.2-dev


matrix:
  allow_failures:
    - env: LINT=vimlint
    - env: LINT=vint

install: .ci/install.sh
script: .ci/script.sh
after_success: .ci/after_success.sh
# $TRAVIS_TEST_RESULT is the log
after_failure: .ci/after_failure.sh
