language: python
dist: trusty
sudo: false

services:
  - docker

git:
  depth: 3

notifications:
  slack:
    on_success: never
    on_failure: never
  email:
    on_success: never # default: change
    on_failure: never # default: always
cache:
  - directories:
    - $HOME/cache/
    - $HOME/deps

env:
  global:
    - DEPS=$HOME/deps
    - PATH=$DEPS/bin:$HOME/vim/bin:$PATH

jobs:
  include:
    - env: LINT=vimlint-errors VIM=nvim VIM_VERSION=v0.2.0
    - env: LINT=vimlint VIM=nvim VIM_VERSION=v0.2.0
    - env: LINT=vint-errors VIM=nvim VIM_VERSION=v0.2.0
    - env: LINT=vint VIM=nvim VIM_VERSION=v0.2.0
    - env: LINT=vader
      addons: { apt: { packages: [python2.7-dev] } }
  allow_failures:
    - env: LINT=vimlint VIM=nvim VIM_VERSION=v0.2.0
    - env: LINT=vint VIM=nvim VIM_VERSION=v0.2.0


install: .ci/install.sh
script: .ci/script.sh
after_success: .ci/after_success.sh
after_failure: .ci/after_failure.sh
