language: python
dist: trusty
sudo: false
python: 2.7

services:
  - docker

git:
  depth: 3

notifications:
  slack:
    on_success: never
    on_failure: never
  email:
    on_success: never # default: change
    on_failure: never # default: always
cache:
  bundler: true 
  directories:
    - $HOME/cache/
    - $HOME/deps

env:
  global:
    - DEPS=$HOME/deps
    - PATH=$DEPS/bin:$HOME/vim/bin:$PATH

jobs:
  include:
    - env: LINT=jekyll
    - env: LINT=file-encoding
    - env: LINT=vimlint-errors VIM_BIN=nvim VIM_TAG=v0.2.0
    - env: LINT=vimlint        VIM_BIN=nvim VIM_TAG=v0.2.0
    - env: LINT=vint-errors    VIM_BIN=nvim VIM_TAG=v0.2.0
    - env: LINT=vint           VIM_BIN=nvim VIM_TAG=v0.2.0
    - env: LINT=vader          VIM_BIN=nvim VIM_TAG=nightly
      addons: { apt: { packages: [python2.7-dev, lua5.2] } }
    - env: LINT=vader          VIM_BIN=nvim VIM_TAG=v0.3.7
      addons: { apt: { packages: [python2.7-dev, lua5.2] } }
    - env: LINT=vader          VIM_BIN=vim  VIM_TAG=v7.4.052    #ubuntu 14.04
      addons: { apt: { packages: [libncurses5-dev, libncursesw5-dev] } }
    - env: LINT=vader          VIM_BIN=vim  VIM_TAG=v7.4.1689   #ubuntu 16.04
      addons: { apt: { packages: [libncurses5-dev, libncursesw5-dev] } }
    - env: LINT=vader          VIM_BIN=vim  VIM_TAG=v8.0.1453   #ubuntu 18.04
      addons: { apt: { packages: [libncurses5-dev, libncursesw5-dev] } }
    - env: LINT=vader          VIM_BIN=vim  VIM_TAG=v8.1.0320   #ubuntu 19.04
      addons: { apt: { packages: [libncurses5-dev, libncursesw5-dev] } }
  allow_failures:
    - env: LINT=vimlint        VIM_BIN=nvim VIM_TAG=v0.2.0
    - env: LINT=vint           VIM_BIN=nvim VIM_TAG=v0.2.0
    - env: LINT=vader          VIM_BIN=nvim VIM_TAG=nightly
      addons: { apt: { packages: [python2.7-dev, lua5.2] } }


install: .ci/install.sh
script: .ci/script.sh
after_success: .ci/after_success.sh
after_failure: .ci/after_failure.sh
