[submodule "jedi/third_party/typeshed"]
	path = jedi/third_party/typeshed
	url = https://github.com/davidhalter/typeshed.git
[submodule "jedi/third_party/django-stubs"]
	path = jedi/third_party/django-stubs
	url = https://github.com/davidhalter/django-stubs
