--langdef=proto
--langmap=proto:.proto
--regex-proto=/^[ \t]*message[ \t]+([a-zA-Z0-9_]+)/\1/m,message/
--regex-proto=/^[ \t]*enum[ \t]+([a-zA-Z0-9_]+)/\1/e,enum/
--regex-proto=/^[ \t]*(optional|required|repeated)[ \t]+([a-zA-Z0-9_]+)[ \t]+([a-zA-Z0-9_]+)/\3/v,variable/
