name: test

on: [push, pull_request]

jobs:
  Linux:
    strategy:
      fail-fast: false
      matrix:
          include:
              - vimbin: vim
                vimtag: v8.2.3995
              - vimbin: vim
                vimtag: nightly
              - vimbin: nvim
                vimtag: nightly
              - vimbin: nvim
                vimtag: v0.9.1
              - vimbin: nvim
                vimtag: v0.9.0
              - vimbin: nvim
                vimtag: v0.8.3
              - vimbin: nvim
                vimtag: v0.8.2
              - vimbin: nvim
                vimtag: v0.8.1
              - vimbin: nvim
                vimtag: v0.8.0
              - vimbin: nvim
                vimtag: v0.7.2
              - vimbin: nvim
                vimtag: v0.7.0
              - vimbin: nvim
                vimtag: v0.6.1
              - vimbin: nvim
                vimtag: v0.6.0
    runs-on: ubuntu-22.04
    env:
        VIM_BIN: ${{ matrix.vimbin }}
        VIM_TAG: ${{ matrix.vimtag }}
        DEPS: /home/runner/work/SpaceVim/deps
        DISABLE_ES: ${{ matrix.disable_es }}
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install dependencies
      run: |
          sudo apt-get update
          sudo apt-get install ninja-build gettext libtool libtool-bin autoconf automake cmake g++ pkg-config unzip curl lua5.2 liblua5.2-dev
    - name: Install ${{ matrix.vimbin }} ${{ matrix.vimtag }}
      run: |
        .ci/install/linux.sh $VIM_BIN $VIM_TAG
    - name: Run test
      run: |
        if [ "$VIM_BIN" = "nvim" ]; then
            export PATH="${DEPS}/_neovim/${VIM_TAG}/bin:${PATH}"
            export VIM="${DEPS}/_neovim/${VIM_TAG}/share/nvim/runtime"
            export VIM_Es="--headless"
        else
            export PATH="${DEPS}/_vim/${VIM_TAG}/bin:${PATH}"
            export VIM="${DEPS}/_vim/${VIM_TAG}/share/vim"
            if [ "$DISABLE_ES" = "true" ]; then
                export VIM_Es=""
            else
                export VIM_Es="-Es"
            fi
        fi
        export PATH="/home/runner/.local/bin:${PATH}"
        echo "\$PATH: \"${PATH}\""
        echo "\$VIM: \"${VIM}\""
        echo "=================  ${VIM_BIN} version ======================"
        $VIM_BIN --version
        pip3 install --upgrade "pip < 21.0"
        pip3 install covimerage virtualenv codecov
        make test_coverage
        covimerage -vv xml --omit 'build/*' --omit 'bundle/*'
        codecov -X search gcov pycov -f coverage.xml
  Windows:
    strategy:
      fail-fast: false
      matrix:
          include:
              - vimbin: vim
                vimtag: nightly
              - vimbin: vim
                vimtag: v8.2.3995
              - vimbin: nvim
                vimtag: nightly
              - vimbin: nvim
                vimtag: v0.9.1
              - vimbin: nvim
                vimtag: v0.9.0
              - vimbin: nvim
                vimtag: v0.8.3
              - vimbin: nvim
                vimtag: v0.8.2
              - vimbin: nvim
                vimtag: v0.8.1
              - vimbin: nvim
                vimtag: v0.8.0
              - vimbin: nvim
                vimtag: v0.7.2
              - vimbin: nvim
                vimtag: v0.7.0
              - vimbin: nvim
                vimtag: v0.6.1
              - vimbin: nvim
                vimtag: v0.6.0
    runs-on: windows-latest
    env:
        VIM_BIN: ${{ matrix.vimbin }}
        VIM_TAG: ${{ matrix.vimtag }}
        DEPS: C:\deps
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install ${{ matrix.vimbin }} ${{ matrix.vimtag }}
      run: |
        .ci/install/windows.ps1 $VIM_BIN $VIM_TAG
    - name: Run test
      run: |
        if ($Env:VIM_BIN.StartsWith("nvim"))
        {
          if (Test-Path $env:DEPS\Neovim\bin ) {
            $Env:PATH = $Env:DEPS + '\Neovim\bin\;' + $Env:PATH
            $Env:VIM = $Env:DEPS + '\Neovim\share\nvim'
          }else{
            $Env:PATH = $Env:DEPS + '\nvim-win64\bin\;' + $Env:PATH
            $Env:VIM = $Env:DEPS + '\nvim-win64\share\nvim'
          }
          $Env:VIM_Es = '--headless'
        }
        elseif ($Env:VIM_BIN.StartsWith("vim"))
        {
          $Env:PATH = $Env:DEPS + '\vim\vim82\;' + $Env:PATH
          $Env:VIM = $Env:DEPS + '\vim'
        }
        echo $Env:PATH
        echo $Env:VIM
        make test
