name: Test

on: [push, pull_request]

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        vimFlavor: ["vim", "nvim"]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install ${{ matrix.vimFlavor }}
      if: matrix.vimFlavor == 'nvim'
      run: |
        sudo add-apt-repository universe
        sudo apt-get update
        sudo apt-get install neovim
    - name: Review ${{ matrix.vimFlavor }} version
      run: ${{ matrix.vimFlavor }} --version
    - name: Run vader test
      run: |
        make test
